p {
  font-family: Lato;
}

.body2 {
  background-color: red;
}

#goodbye {
  color: rebeccapurple;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/